#title-box{
    font-size:40px;
}

#information-box{
    display:flex;
}

#date-box{
    width:50%;
    text-align:right;
}

#phone-box{
    width:50%;
    text-align:left;
    margin-left:5%;
}

#description-box{
    font-size:17px;
    margin-left:10%;
    margin-right:10%;
    margin-top:2%;
}

#control-buttons-box-box{
    justify-content: right;
    margin:2%;
    display:flex;
}