#select-categories-box-sup{
    width:50%;
    text-align:left;
}

#select-categories-box-one{
    width:40%;
    height:50%;
}

#select-categories-box-two{
    width:40%;
    height:50%;
}

#accounts-buttons-box{
    width:42%;
    text-align:right;
}

#button_create{
    border: 2px solid teal;
    width: 33%;
}

#button_logout{
    border: 2px solid teal;
    width: 33%;
}

#button_login{
    border: 2px solid teal;
    width: 33%;
}

#button_register{
    border: 2px solid teal;
    width: 33%;
}

#button_clientes{
    border: 2px solid teal;
    width: 50%;
}

#button_proyectos{
    width: 50%;
    border: 2px solid teal;
}