

.footer {
  justify-content: center;
  height: 6vh;
}


html, body {
  font-size: 18px;
  background-color: #f5f6f7 !important;
}

.App {
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}




div.chakra-select__wrapper.css-42b2qy{
  height: 100%;
}